mat-grid-tile {
  background: lightblue;
}

.button {
  background: darkolivegreen;
  color: wheat;
  margin-right: 2%;
  margin-left: 2%;
}

.deleteButton {
  background: darkred;
  color: wheat;
  margin-right: 2%;
  margin-left: 2%;
}

.table-style {
  background: antiquewhite;
  width: 100%;
}

.adminFunctions {
  display: flex;
  justify-content: center;
  align-items: center;
}
