<!--

<br><div label="inputfields">
  <mat-form-field class="input-field">
    <mat-label >Chassis</mat-label>
    <mat-select matNativeControl required>
      <mat-option *ngFor="let car of cars" value="car.chassis">{{car.chassis}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
-->

<div label="table">
  <table class="table-style" mat-table [dataSource]="cars">

    <ng-container matColumnDef="rent">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let car">
        <button mat-button (click)="redirectToPage(car)" class="button">Rent</button>
      </td>
    </ng-container>


    <ng-container matColumnDef="brand">
      <th mat-header-cell *matHeaderCellDef> Brand </th>
      <td mat-cell *matCellDef="let car"> {{car.brand}} </td>
    </ng-container>

    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let car"> {{car.model}} </td>
    </ng-container>

    <ng-container matColumnDef="doors">
      <th mat-header-cell *matHeaderCellDef> Doors </th>
      <td mat-cell *matCellDef="let car"> {{car.doors}} </td>
    </ng-container>

    <ng-container matColumnDef="seats">
      <th mat-header-cell *matHeaderCellDef> Seats </th>
      <td mat-cell *matCellDef="let car"> {{car.seats}} </td>
    </ng-container>

    <ng-container matColumnDef="transmission">
      <th mat-header-cell *matHeaderCellDef> Transmission </th>
      <td mat-cell *matCellDef="let car"> {{car.transmission}} </td>
    </ng-container>

    <ng-container matColumnDef="chassis">
      <th mat-header-cell *matHeaderCellDef> Chassis </th>
      <td mat-cell *matCellDef="let car"> {{car.chassis}} </td>
    </ng-container>

    <ng-container matColumnDef="pricePerDay">
      <th mat-header-cell *matHeaderCellDef> Price per day </th>
      <td mat-cell *matCellDef="let car"> {{car.pricePerDay}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
