.table-style {
  background: antiquewhite;
  width: 100%;
}
th {
  font-weight: bold;
  background: rgba(85, 107, 47, 0.5) !important;
}

.input-field {
  margin-left: 2%;
}

.button {
  background: darkolivegreen;
  color: wheat;
  margin-right: 2%;
  margin-left: 2%;
}
