<div>
  <mat-card class="matCard">
    <div label="search bar">
      <form [formGroup]="form" (ngSubmit)="submitDates()">
        <div class="searchBar">

          <mat-form-field class="inputFields">
            <mat-label>Select the dates</mat-label>
            <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRange" [min]="minDate">
              <input matStartDate placeholder="Start date" formControlName="start"
                     (dateChange)="onStartDateChange($event)">
              <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker disabled="false"></mat-date-range-picker>
          </mat-form-field>

          <div class="submitSpan">
            <br>
            <button mat-button type="submit" class="greenButton">Search</button>
            <br><br>
          </div>
        </div>
      </form>
    </div>
    <div class="searchBar">
      <mat-form-field class="inputFields">
        <mat-label>Brand/model</mat-label>
        <input matInput (keyup)="applyBrandModelFilter($event)">
      </mat-form-field>
    </div>
  </mat-card>

  <div label="table">
    <table class="table-style" mat-table [dataSource]="dataSource">

      <ng-container matColumnDef="brand">
        <th mat-header-cell *matHeaderCellDef> Brand</th>
        <td mat-cell *matCellDef="let car"> {{car.brand}} </td>
      </ng-container>

      <ng-container matColumnDef="model">
        <th mat-header-cell *matHeaderCellDef> Model</th>
        <td mat-cell *matCellDef="let car"> {{car.model}} </td>
      </ng-container>

      <ng-container matColumnDef="doors">
        <th mat-header-cell *matHeaderCellDef> Doors</th>
        <td mat-cell *matCellDef="let car"> {{car.doors}} </td>
      </ng-container>

      <ng-container matColumnDef="seats">
        <th mat-header-cell *matHeaderCellDef> Seats</th>
        <td mat-cell *matCellDef="let car"> {{car.seats}} </td>
      </ng-container>

      <ng-container matColumnDef="transmission">
        <th mat-header-cell *matHeaderCellDef> Transmission</th>
        <td mat-cell *matCellDef="let car"> {{car.transmission}} </td>
      </ng-container>

      <ng-container matColumnDef="chassis">
        <th mat-header-cell *matHeaderCellDef> Chassis</th>
        <td mat-cell *matCellDef="let car"> {{car.chassis}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef> Price per day</th>
        <td mat-cell *matCellDef="let car"> CHF {{car.pricePerDay}} </td>
      </ng-container>

      <ng-container matColumnDef="rent">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let car">
          <button mat-button (click)="redirectToPage(car)" class="greenButton">Rent</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
